<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.findjobsrdv0">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".PantallaReportarProblemas"></activity>
        <activity
            android:name=".PantallaAcercadeApp"
            android:theme="@style/AppTheme.NoActionBarPrueba"></activity>
        <activity android:name=".PantallaTerminosyCondiciones" />
        <activity android:name=".PantallaCambiarContrasena" />
        <activity android:name=".PantallaConfiguracion" />

        <activity android:name=".Pantallas_CurriculosCompleto.PantallaPerfilBuscador"></activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".PantallaPersonasAplicaronEmpleo" />
        <activity android:name=".PantallaPerfilEmpleador" />
        <activity android:name=".Pantallas_CurriculosCompleto.DetalleOtrosEstudios" />
        <activity android:name=".Pantallas_CurriculosCompleto.DetalleExperienciaLaboral" />
        <activity android:name=".Pantallas_CurriculosCompleto.DetalleReferencias" />
        <activity android:name=".Pantallas_CurriculosCompleto.DetalleFormacionAcademica" />
        <activity android:name=".Pantallas_CurriculosCompleto.DetalleCurriculo" />
        <activity android:name=".Pantallas_CurriculosCompleto.VistaCurriculo" />
        <activity android:name=".Pantallas_CurriculosCompleto.cPantallaReferenciasCurriculo" />
        <activity android:name=".Pantallas_CurriculosCompleto.cPantallaOtrosCursos" />
        <activity android:name=".Pantallas_CurriculosCompleto.cPantallaRegistrarCurriculo" />
        <activity
            android:name=".PantallaActualizarEmpleo"
            android:label="@string/title_activity_pantalla_actualizar_empleo"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".PantallaDetallesArea" />
        <activity
            android:name=".PantallaDetallesEmpleosAnadidos"
            android:label="@string/title_activity_pantalla_detalles_empleos_anadidos"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".PantallaDetallesProvincia" />
        <activity android:name=".PantallaListaEmpleosAnadidos" />
        <activity android:name=".PantallaBuscarEmpleos" />
        <activity android:name=".PantallaListaEmpleosBuscados" />
        <activity
            android:name=".PantallaDetallesEmpleo"
            android:label="@string/title_activity_pantalla_detalles_empleo"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".PantallaRegistrarEmpleos"
            android:label="@string/title_activity_pantalla_registrar_empleos"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Pantallas_CurriculosCompleto.cPantallaFormacionAcademicaCurriculo"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".Pantallas_CurriculosCompleto.cPantallaExperienciaLaboralCurriculo"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".PantallaNavegador" />
        <activity android:name=".PantallaRecuperarContrasena" />
        <activity
            android:name=".PantallaPrincipalEmpleador"
            android:label="@string/title_activity_pantalla_principal_empleador"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".PantallaLoginEmpleador"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".PantallaPrincipalBuscador"
            android:label="@string/title_activity_pantalla_principal_buscador"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".PantallaLoginBuscador"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".PantallaRegistroBuscador"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".PantallaRegistroEmpleador"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".PantallaModoUsuario"
            android:theme="@style/AppTheme.NoActionBarPrueba" />
        <activity
            android:name=".PantallaCarga"
            android:theme="@style/AppTheme.NoActionBarPrueba">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>