<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.findjobsrdv0">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity"></activity>
        <activity
            android:name=".Clases_EmpleoCompleto.PantallaCompararEmpleos"
            android:label="@string/title_activity_pantalla_comparar_empleos"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Pantallas_CurriculosCompleto.PantallaListaCurriculosFavoritos" />
        <activity android:name=".Clases_EmpleoCompleto.PantallaListaEmpleosFavoritos" />
        <activity
            android:name=".Clases_EmpleoCompleto.PantallaDetallePerfilEmpresa"
            android:label="@string/title_activity_pantalla_detalle_perfil_empresa"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Clases_EmpleoCompleto.PantallaListaEmpleosEmpresa" />
        <activity android:name=".Clases_EmpleoCompleto.PantallaDetalleEmpresa" />
        <activity android:name=".Pantallas_CurriculosCompleto.PantallaCurriculosAplicados" />
        <activity android:name=".Clases_EmpleoCompleto.PantallaEmpresasAplicaronMiCurriculo" />
        <activity android:name=".Clases_EmpleoCompleto.PantallaEmpleosAplicado" />
        <activity android:name=".GeneralesApp.PantallaReportarProblemas" />
        <activity
            android:name=".GeneralesApp.PantallaAcercadeApp"
            android:theme="@style/AppTheme.NoActionBarPrueba" />
        <activity android:name=".GeneralesApp.PantallaTerminosyCondiciones" />
        <activity android:name=".GeneralesApp.PantallaCambiarContrasena" />
        <activity android:name=".GeneralesApp.PantallaConfiguracion" />

        <activity android:name=".Pantallas_CurriculosCompleto.PerfilBuscador" />
        <activity android:name=".like.MainActivity" />

        <activity android:name=".Clases_EmpleoCompleto.PantallaPersonasAplicaronEmpleo" />
        <activity android:name=".Clases_EmpleoCompleto.PantallaPerfilEmpleador" />
        <activity android:name=".Pantallas_CurriculosCompleto.DetalleOtrosEstudios" />
        <activity android:name=".Pantallas_CurriculosCompleto.DetalleExperienciaLaboral" />
        <activity android:name=".Pantallas_CurriculosCompleto.DetalleReferencias" />
        <activity android:name=".Pantallas_CurriculosCompleto.DetalleFormacionAcademica" />
        <activity android:name=".Pantallas_CurriculosCompleto.DetalleCurriculo" />
        <activity android:name=".Pantallas_CurriculosCompleto.PantallaListaCurriculosBuscados" />
        <activity android:name=".Pantallas_CurriculosCompleto.cPantallaReferenciasCurriculo" />
        <activity android:name=".Pantallas_CurriculosCompleto.cPantallaOtrosCursos" />
        <activity android:name=".Pantallas_CurriculosCompleto.cPantallaRegistrarCurriculo" />
        <activity
            android:name=".Clases_EmpleoCompleto.PantallaActualizarEmpleo"
            android:label="@string/title_activity_pantalla_actualizar_empleo"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".GeneralesApp.PantallaDetallesArea" />
        <activity
            android:name=".PantallaDetallesEmpleosAnadidos"
            android:label="@string/title_activity_pantalla_detalles_empleos_anadidos"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".GeneralesApp.PantallaDetallesProvincia" />
        <activity android:name=".Clases_EmpleoCompleto.PantallaListaEmpleosAnadidos" />
        <activity android:name=".PantallaBuscarEmpleos" />
        <activity android:name=".Clases_EmpleoCompleto.PantallaListaEmpleosBuscados" />
        <activity
            android:name=".Clases_EmpleoCompleto.PantallaDetallesEmpleo"
            android:label="@string/title_activity_pantalla_detalles_empleo"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Clases_EmpleoCompleto.PantallaRegistrarEmpleos"
            android:label="@string/title_activity_pantalla_registrar_empleos"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Pantallas_CurriculosCompleto.cPantallaFormacionAcademicaCurriculo"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".Pantallas_CurriculosCompleto.cPantallaExperienciaLaboralCurriculo"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".GeneralesApp.PantallaNavegador" />
        <activity android:name=".GeneralesApp.PantallaRecuperarContrasena" />
        <activity
            android:name=".Clases_EmpleoCompleto.PantallaPrincipalEmpleador"
            android:label="@string/title_activity_pantalla_principal_empleador"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Clases_EmpleoCompleto.PantallaLoginEmpleador"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".Pantallas_CurriculosCompleto.PantallaPrincipalBuscador"
            android:label="@string/title_activity_pantalla_principal_buscador"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Pantallas_CurriculosCompleto.PantallaLoginBuscador"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".Pantallas_CurriculosCompleto.PantallaRegistroBuscador"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".Clases_EmpleoCompleto.PantallaRegistroEmpleador"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".GeneralesApp.PantallaModoUsuario"
            android:theme="@style/AppTheme.NoActionBarPrueba" />
        <activity
            android:name=".GeneralesApp.PantallaCarga"
            android:theme="@style/AppTheme.NoActionBarPrueba">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>