<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.findjobsrdv0">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".PantallaPersonasAplicaronEmpleo"></activity>
        <activity android:name=".ActualizarFormacionAcad.ActualizarFormacionAcad"></activity>
        <activity android:name=".ActualizarCurriculo.VistaCurriculoActualizar" />
        <activity android:name=".ActualizarCurriculo.ActualizarCurriculo" />
        <activity android:name=".PantallaPerfilEmpleador" />
        <activity android:name=".PantallaPerfilBuscador" />
        <activity android:name=".VistaCurriculo_RecyclerView.VistaDetalleCurriculo.VistaDetalleOtrosCursos.DetalleOtrosEstudios" />
        <activity android:name=".VistaCurriculo_RecyclerView.VistaDetalleCurriculo.VistaDetalleExperienciaLaboral.DetalleExperienciaLaboral" />
        <activity android:name=".VistaCurriculo_RecyclerView.VistaDetalleCurriculo.VistaDetalleReferencias.DetalleReferencias" />
        <activity android:name=".VistaCurriculo_RecyclerView.VistaDetalleCurriculo.VistaDetalleFormacionAcademica.DetalleFormacionAcademica" />
        <activity android:name=".VistaCurriculo_RecyclerView.VistaDetalleCurriculo.VistaDetalleCurriculo.DetalleCurriculo" />
        <activity android:name=".VistaCurriculo_RecyclerView.Vista_Curriculo_Principal.Vista_Curriculo.VistaCurriculo" />
        <activity android:name=".Registro_del_Curriculo.cPantallaReferenciasCurriculo" />
        <activity android:name=".Registro_del_Curriculo.cPantallaOtrosCursos" />
        <activity android:name=".Registro_del_Curriculo.cPantallaRegistrarCurriculo" />
        <activity
            android:name=".PantallaActualizarEmpleo"
            android:label="@string/title_activity_pantalla_actualizar_empleo"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".PantallaDetallesArea" />
        <activity
            android:name=".PantallaDetallesEmpleosAnadidos"
            android:label="@string/title_activity_pantalla_detalles_empleos_anadidos"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".PantallaDetallesProvincia" />
        <activity android:name=".PantallaListaEmpleosAnadidos" />
        <activity android:name=".PantallaBuscarEmpleos" />
        <activity android:name=".PantallaListaEmpleosBuscados" />
        <activity
            android:name=".PantallaDetallesEmpleo"
            android:label="@string/title_activity_pantalla_detalles_empleo"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".PantallaRegistrarEmpleos"
            android:label="@string/title_activity_pantalla_registrar_empleos"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Registro_del_Curriculo.cPantallaFormacionAcademicaCurriculo"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".Registro_del_Curriculo.cPantallaExperienciaLaboralCurriculo"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".PantallaNavegador" />
        <activity
            android:name=".PantallaRecuperarContrasena"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".PantallaPrincipalEmpleador"
            android:label="@string/title_activity_pantalla_principal_empleador"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".PantallaLoginEmpleador"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".PantallaPrincipalBuscador"
            android:label="@string/title_activity_pantalla_principal_buscador"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".PantallaLoginBuscador"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".PantallaRegistroBuscador"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".PantallaRegistroEmpleador"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".PantallaModoUsuario"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".PantallaCarga"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>